.adminHeader {
  background-color: #333;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 235px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
}

.navbar {
  flex-grow: 1;
}

.navList {
  list-style: none;
  padding: 0;
  display: flex;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.navLink:hover {
  color: #ffc107;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.profileIcon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.profileText {
  font-size: 1rem;
  color: white;
}
